* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 40px;
  border-bottom: 2px solid black;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30%;
  font-size: 2em;
}

nav {
  padding: 20px;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  width: 15%;
  margin: 15px 70px;
  padding: 70px;
  border: 2px solid black;
}

h2 {
  font-size: 2em;
}

section h2 {
  margin: 0px 100px 0px 0px;
}

aside li {
  list-style: none;
  font-size: 1.5em;
  margin: 20px 0px;
}

section {
  width: 80%;
  margin: 10px 0px;
  padding: 30px;
  display: flex;
  text-align: right;
  flex-direction: column;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  width: 27%;
  height: 150px;
  border: 2px solid black;
  margin: 20px;
}

footer {
  border-top: 2px solid black;
  padding: 30px;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
}